$cardWidthMobile: 20.375rem;
$cardWidthDesktop: 21.813rem;

$clrNeutralLight: hsl(215, 51%, 70%);
$clrNeutral: hsl(0, 0%, 100%);
$clrAccent: hsl(178, 100%, 50%);

$clrBgMain: hsl(217, 54%, 11%);
$clrBgCard: hsl(216, 50%, 16%);
$clrLine: hsl(215, 32%, 27%);
